/* CUSTOM-PROPS */
:root {
  --orange: #FF9143;
  --black-50: rgba(11, 10, 15, 0.5);
  --black-1: #0B0A0F;
  --black-2: #212936;
  --black-3: #394150;
  --black-4: #4D5461;
  --black-5: #4D5461;
  --grey-1: #9EA3AE;
  --grey-2: #D3D5DA;
  --grey-3: #E5E6EB;
  --grey-4: #F4F4F6;
  --grey-5: #F9FAFB;
  --dark-black: #1A1A1A;
  --light-black: #262A2C;
  --grey: #696969;
  --text-color: #A8A8A8;
}


/* FONTS */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.woff2") format("woff2"),
      url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff2") format("woff2"),
      url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
      url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
      url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
      url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
      url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"),
      url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-ExtraBold.woff2") format("woff2"),
      url("../fonts/Rubik-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.woff2") format("woff2"),
      url("../fonts/Urbanist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Regular.woff2") format("woff2"),
      url("../fonts/Urbanist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-ExtraBold.woff2") format("woff2"),
      url("../fonts/Urbanist-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
      url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"),
      url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne-Bold.woff2") format("woff2"),
      url("../fonts/Syne-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
      url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne-ExtraBold.woff2") format("woff2"),
      url("../fonts/Syne-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Medium.woff2") format("woff2"),
      url("../fonts/Urbanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Poppins", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--dark-black);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1194px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.main-link {
  display: inline-block;
  padding: 15px 36px;
  border: 2px solid var(--text-color);
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

.main-link:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.main-link.button--orange:hover {
  background-color: var(--black-50);
}

.main-link:active {
  opacity: 0.6;
}

.button--black {
  background-color: var(--black-50);
}

.button--orange {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}

.button--outline-orange {
  background-color: transparent;
  border-color: var(--orange);
  color: #fff;
}

.button--long-form {
  padding: 15px 50px;
  font-weight: 600;
}


/* HEADER */
.site-header {
  padding-top: 33px;
  padding-bottom: 33px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.site-header__logo {
  display: inline-block;
  flex-shrink: 0;
}

.site-header__logo:hover .site-header__logo-img {
  color: var(--orange);
}

.site-header__logo:active .site-header__logo-img {
  opacity: 0.6;
}

.site-header__logo-img {
  width: 40px;
  height: 40px;
  color: var(--text-color);
}


/* NAVBAR */
.navbar-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.navbar__content {
  margin-right: 55px;
}

.navbar__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  margin: 0;
  padding: 0;
}

.navbar__item:not(:last-child) {
  margin-right: 44px;
}

.navbar__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.navbar__link:hover {
  color: var(--orange);
}

.navbar__link:active {
  opacity: 0.6;
}


/* MENU-TOGGLE */
.menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  display: none;
  cursor: pointer;
}

.menu-btn__burger-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../icons/menu_.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: contain;
  color: var(--text-color);
}

.menu-icon:hover {
  color: var(--orange);
}

.menu-icon:active {
  opacity: 0.6;
}


/* MENU CLOSE BUTTON  */
.menu-close-button {
  position: absolute;
  left: 25px;
  top: 30px;
  display: none;
  cursor: pointer;
}

.close-button-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../icons/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


/* MEDIA */
@media only screen and (max-width: 750px) {
  .navbar-wrapper {
    width: 100%;
    display: none;
  }

  .navbar-wrapper.burger-menu .navbar__content {
    margin: 0;
  }

  .navbar-wrapper.burger-menu {
    display: block;
    padding: 20px;
    text-align: center;
    background-color: var(--black-1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }

  .navbar__list {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .navbar__link {
    padding: 5px;
  }

  .navbar__item:not(:last-child) {
    margin: 0;
    margin-bottom: 20px;
  }

  .menu-btn {
    display: block;
  }
}


/* AUTOFILL-SYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
} */
